{% extends 'layout.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="modal fade" id="confirmDeletionAd" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтверждение удаления</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить это объявление?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form method="post" action="{% url 'delete_ad' ad.pk %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Удалить"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="adv-content bg-light p-4 mt-5">
            <div class="header border-bottom pb-2 mb-4 ms-md-4">
                <h1 class="text-center text-md-start ms-md-4 mb-4">{{ ad.title }}</h1>
                <div class="text-end">
                    <span class="text-muted">Создано: {{ ad.time_create }}</span>
                </div>
            </div>
            <div class="row pb-4 border-bottom">
                <div class="col-md-4">
                    <img src="{{ ad.image.url }}" class="img-fluid rounded-start img-border" height="200" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="mx-5 mt-4">
                        {{ ad.description }}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="mb-2">
                    <span><b>Категория:</b> {{ ad.category }}</span>
                </div>
                <div class="mb-2">
                    <span><b>Стоимость:</b> {{ ad.cost }}</span>
                </div>
                <div class="mb-2">
                    <span><b>Номер телефона:</b> {{ ad.phone }}</span>
                </div>
                {% if ad.author != null %}
                    <div class="mb-2">
                        <span><b>Автор:</b> {{ ad.author }}</span>
                    </div>
                {% endif %}
            </div>
            {% if ad.author == request.user or request.user.is_superuser %}
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-end">
                        <small class="text-muted">Обновлено: {{ ad.time_update }}</small>
                    </div>
                    <div class="mt-4 text-end d-flex">
{#                        <form method="post" action="{% url 'edit_ad' ad.pk %}" class="mb-0">#}
{#                            {% csrf_token %}#}
{#                            <input type="submit" class="btn btn-dark me-2" value="Редактировать"/>#}
{#                        </form>#}
                       <a href="{% url 'edit_ad' ad.pk %}" class="btn btn-dark me-2">Редактировать</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeletionAd">Удалить</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}